@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



/*  BARRA DE NAVEGACIÓN*/

*{
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: black;
    padding: 0;
}

.navbar-brand {
    font-family: "montserrat";
    font-weight: 800;
    color: white;
    font-size: 300%;
}

.boton {
    padding: 10px;
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
}

.boton-link {
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    text-decoration: none;
}

.boton:hover {
    background-color: #3972ce;
    
}

.boton-link:hover{
    color: white;
}

/*PORTADA*/
.encabezado-img {
    background-image:url(../img/imagen-portada2.jpg) ;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-img > h1 {
    color: white;
}



/*SECTION MIS PROYECTOS*/

.proyecto {
    gap: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tarjeta {
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
      
}

.card {
    width: 100%;
}

.card > img {
    padding: 9px;
}


section > h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.card-body {
    background-color: black;
    color: white;
}

.card-body > p {
    margin-top: 20px;
    font-size: small;
}

.btn {
    background-color: white;
}

.btn:hover {
    background-color: #3972ce; 
}


/*SECTION SOBRE MI*/

.card-mi {
    width: 22em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-mi > img {
   width: 100%;
   border-radius: 5px;
}

.card-mi > p {
    color:black;
    font-family: Verdana;

}

.content-mi {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    padding-bottom: 50px;

}

.proyecto-mi {
    width: 100%;
}

.proyecto-mi > h2 {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}



/*SECTION MIS CERTIFICADOS*/

.content-cert {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    background-color:black;

}

.content-card  {
    width: 60em;
    margin: 20px;
}

.carousel-item > img {
    border-radius: 9px;
}

h3 {
    padding-top: 20px;
    text-align: center;
    color: white;
}