@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*  BARRA DE NAVEGACIÓN*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #002f7b;
    padding: 0;
}

.navbar-brand {
    font-family: "montserrat";
    font-weight: 800;
    color: white;
    font-size: 300%;
}

.boton {
    padding: 10px;
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
}

.boton-link {
    padding-left: 50px;
    padding-right: 50px;
    color: #002f7b;;
    text-decoration: none;
}

.boton:hover {
    background-color: #3972ce;
    
}

.boton-link:hover{
    color: white;
}

/*PORTADA*/
.encabezado-img {
    background-image:url(../img/imagen-portada2.jpg) ;
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-img > h1 {
    color: white;
}



/*SECTION MIS PROYECTOS*/

.row {
    border: 1px solid red;
    gap: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.col {
    border: 1px solid violet;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border:  1px solid green;
    width: 100%;
}

section > h2 {
    text-align: center;
    margin-top: 20px;
}