@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*BARRA DE NAVEGACIÓN*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
    padding: 0;
}

.navbar-brand {
    font-family: "montserrat";
    font-weight: 800;
    color: white;
    font-size: 300%;
}


.boton {
    padding: 10px;
    margin-right: 30px;
    background-color: white;
    border-radius: 20px;
}

.boton-link {
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    text-decoration: none;
}

.boton:hover {
    background-color: #1b1b1b;  
}

.boton-link:hover{
    color: white;
}

/*PORTADA*/
.encabezado-img {
    background-image:url(../img/imagen-portada2.jpg) ;
    height: 70vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.encabezado-img > h1 {
    color: white;
}



/*SECTION MIS PROYECTOS*/

.proyecto {
    gap: 50px;
    display: flex;
    justify-content: center;
    margin: 0;
}

.tarjeta {
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    width: 100%;
    box-shadow: 1px 1px 30px;
}

.card > img {
    padding: 9px;
}


section > h2 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
}

.card-body {
    background-color: black;
    color: white;
}

.card-body > p {
    margin-top: 20px;
    font-size: small;
}

.btn {
    background-color: white;
}

.btn:hover {
    background-color: black; 
}


/*SECTION SOBRE MI*/

.card-mi {
    width: 22em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-mi > img {
   width: 100%;
   border-radius: 5px;
}

.card-mi > p {
    color:black;
    font-family: Verdana;

}

.content-mi {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
    padding-bottom: 50px;

}

.proyecto-mi {
    width: 100%;
}

.proyecto-mi > h2 {
    text-align: center;
    color: white;
    padding: 10px;
    background-color: black;
}



/*SECTION MIS CERTIFICADOS*/

.content-cert {
    background-color:black;
    padding: 40px;
    margin: 0;
}


.carousel-item > img {
    border-radius: 9px;
    width: 80%;
}

h3 {
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

.carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Asegúrate de que el contenedor tenga una altura para centrar */
}

/*FOOTER*/

footer {
    padding: 20px;
    text-align: center;
}

footer > p {
    margin: 0;
    padding-top: 5px;
}

.derechos {
    padding-top: 20px;
    margin: 0;
    font-size: small;
}


/*PAGINA CONTACTO*/


 .body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Verdana;
    background-image: url(../img/imagen-portada2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
 }


 .general-form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
    border-radius: 9px ;
    text-align: center;
    border: 1px solid #fafafa10;
 }

 .glass-effect {
    background: linear-gradient(135deg,rgba (255,255,255,0.1),rgba (255,255,255,0));
    backdrop-filter: blur(10px);
 }


 .general-form > h2 {
    padding-bottom: 30px;
    width: 500px;
    color: white;
    
 }

.form-card {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 15px;
    margin-bottom: 20px;

}

.form-card > label {
    margin-bottom: 5px;
    color: white;
}

.form-card > input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
}

.form-card > textarea {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
}

.content-form > button {
    padding: 5px;
    cursor: pointer;
    border: 1px solid whitesmoke;
    border-radius: 3px;
}

.btn-back {
    margin: 50px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}